# ide files
.idea/
.vscode/
*.sublime*

# python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
venv/
env/

# temp / log files
*.log
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db

# compilation files
test_program
SOURCES.txt
top_level.txt
dependency_links.txt
entry_points.txt
drawpp_compiler-0.1-py3.12.egg
PKG-INFO

# other files
*.pdf # project subject or any other pdf file
